/* .Home_Page {
  background-color: #202c38;
  color: #d2dce2;
  padding: 0px 5rem;
} */
.HomeComp .Home_Page {
  background-color: #202c38;
  color: #FFFFFF;
  padding-left: 5rem!important;
  padding-right: 5rem!important;
}
.dark_bg {
  padding: 0px 5rem;
  background-color: #2b3944;
  color: #d2dce2;
}
/* .section_search{
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* .light_bg {
  background-color: #d2dce2;
  color: #2b3944;
} */

.Search_Box {
  position: relative;
}

.search_icon {
  position: absolute;
  top: 24%;
  left: 6%;
}

.search_input {
  background-color: #2b3944;
  color: #d2dce2;
  height: 50px;
  width: 100%;
  padding-left: 70px;
  caret-color: #84929d;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.Card_Country {
  background-color: #2b3944;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color : #ffffff;
}
.card_image {
  width: 100%;
  height: 200px;
}

.card_body {
  padding: 15px;
  height: 160px;
}

.Country_drop {
  background: #2b3944;
  color: #d2dce2;
  height: 50px;
  width: 100%;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
  .dark_bg {
    padding: 15px;
  }
  .Home_Page {
    padding: 20px;
  }
  .search_icon {
    left: 15%;
  }
}
